In [2]:
import re
import pandas as pd
import numpy as np

#### Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
- Sample Text- 'Python Exercises, PHP exercises.'
- Expected Output: Python:Exercises::PHP:exercises:

In [17]:
pattern = r'[ ,.]'
changed_text = re.sub(pattern, ':', sample_text)

sample_text = 'Python Exercises, PHP exercises.'

print("Expected Output:", changed_text)

Expected Output: Python:Exercises::PHP:exercises:

#### Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [8]:
data = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(data)
df

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [10]:
def cleaning_text(text):
    cleaned_text = re.sub(r'[^A-Za-z\s]+|XXXXX', '', text)
    return cleaned_text.strip()

df['SUMMARY'] = df['SUMMARY'].apply(cleaning_text)

# Print the cleaned DataFrame
print(df)

         SUMMARY
0    hello world
1           test
2  four five six

#### Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [117]:
sample_string = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country"
pattern = re.compile(r'\b\w{4}\b')
long_words = pattern.findall(sample_string)
print("Long words found:", long_words)

Long words found: ['15th', '1947', 'that', 'from', 'were', 'over']

#### Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [118]:
sample_string = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country"
pattern = re.compile(r'\b\w{3,5}\b')
long_words = pattern.findall(sample_string)
print("Long words found:", long_words)

Long words found: ['15th', '1947', 'that', 'India', 'was', 'from', 'and', 'the', 'reins', 'were', 'over', 'the', 'the']

#### Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

- Expected Output:
- example.com
- hr@fliprobo.com
- github.com
- Hello Data Science World
- Data Scientist

In [121]:
def remove_circl(strings_list):
    pattern = re.compile(r'\(([^)]*)\)')
    cleaned_strings = [pattern.sub(r'\1', string) for string in strings_list]
    
    return cleaned_strings

sample_text = ["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello (Data Science World)", "Data (Scientist)"]
cleaned_text = remove_circl(sample_text)
print("Expected Output:")
for text in cleaned_text:
    print(text)

Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

#### Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
- Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
- Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [7]:
# Read the text from the file
with open('sample.txt', 'r') as file:
    text = file.read()

pattern = re.compile(r'\s*\([^)]*\)')

cleaned_text = pattern.sub('', text)
print('Expected Output:',cleaned_text)

Expected Output: : ["example", "hr@fliprobo", "github", "Hello", "Data"]

#### Question 7- Write a regular expression in Python to split a string into uppercase letters.
- Sample text: “ImportanceOfRegularExpressionsInPython”
- Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [9]:
# Sample text
sample_text = "ImportanceOfRegularExpressionsInPython"
pattern = r'[A-Z][^A-Z]*'
output = re.findall(pattern, sample_text)

print(output)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

#### Question 8- Create a function in python to insert spaces between words starting with numbers.
- Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
- Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [18]:
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
pattern = r'(?<=\d)(?=[A-Za-z])'
changed_text = re.sub(pattern, ' ', sample_text) 

print("Expected Output:", changed_text)

Expected Output: RegularExpression1 IsAn2 ImportantTopic3 InPython

#### Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
- Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
- Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [19]:
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
pattern = r'(?<=[A-Z0-9])(?=[A-Z])|(?<=[A-Za-z])(?=\d)'
changed_text = re.sub(pattern, ' ', sample_text) 

print("Expected Output:", changed_text)

Expected Output: RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

#### Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
- Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [20]:
df = pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
df['first_five_letters'] = df['Country'].str[:6]
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

#### Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [85]:
def check_string(input_string):
    pattern = r'^[a-zA-Z0-9_]+$'
    if re.match(pattern, input_string):
        return True
    else:
        return False

strings_to_check = ['helloworld', 'XXXXX test', '123four', 'five six']
for string in strings_to_check:
    if check_string(string):
        print(f"{string}: Contains only upper and lowercase letters, numbers, and underscores")
    else:
        print(f"{string}: Contains other characters besides upper and lowercase letters, numbers, and underscores")

helloworld: Contains only upper and lowercase letters, numbers, and underscores
XXXXX test: Contains other characters besides upper and lowercase letters, numbers, and underscores
123four: Contains only upper and lowercase letters, numbers, and underscores
five six: Contains other characters besides upper and lowercase letters, numbers, and underscores

#### Question 12- Write a Python program where a string will start with a specific number.

In [22]:
def check_start_with_number(input_string, start_number):
    pattern = re.compile(f'^{start_number}')
    if re.match(pattern, input_string):
        return True
    else:
        return False

# Test the function with some strings
strings_to_check = ["565virat", "801sachin", "153siraj", "dhoni232", "rohit456"]
start_number = ["565", "153"]
for string in strings_to_check:
    if check_start_with_number(string, start_number):
        print(f"{string}: Starts with the number {start_number}")
    else:
        print(f"{string}: Does not start with the number {start_number}")

565virat: Starts with the number ['565', '153']
801sachin: Does not start with the number ['565', '153']
153siraj: Starts with the number ['565', '153']
dhoni232: Does not start with the number ['565', '153']
rohit456: Does not start with the number ['565', '153']

#### Question 13- Write a Python program to remove leading zeros from an IP address

In [81]:
pattarn = r"[00]"     # r"[]" use or alphabet list
ip_add = "192.008.001.002"

replaced_ip_add = re.sub(pattarn, "", ip_add)
print(replaced_text)

192.8.1.2

#### Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
- Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
- Expected Output- August 15th 1947
- Note- Store given sample text in the text file and then extract the date string asked format.

In [35]:
with open("sample2.txt", 'r') as file:
    text = file.read()
pattern = r'([A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th) \d{4})'
dates = re.findall(pattern, text)

print("Extracted Date(s):", dates)

Extracted Date(s): ['August 15th 1947']

#### Question 15- Write a Python program to search some literals strings in a string. 
- Sample text : 'The quick brown fox jumps over the lazy dog.'
- Searched words : 'fox', 'dog', 'horse'

In [76]:
def search_literals(text, words):
    found_words = []
    for word in words:
        if word in text:
            found_words.append(word)
    return found_words

sample_text = 'The quick brown fox jumps over the lazy dog.'
searched_words = ['fox', 'dog', 'horse']

got_words = search_literals(sample_text, searched_words)

# Print the words found in the text
print("Words Found:", got_words)

Words Found: ['fox', 'dog']

#### Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
- Sample text : 'The quick brown fox jumps over the lazy dog.'
- Searched words : 'fox'

In [65]:
sample_text = 'The quick brown fox jumps over the lazy dog.'
word_with_position = [(m.group(), m.start()) for m in re.finditer("fox", sample_text)]
print(word_with_position)

[('fox', 16)]

#### Question 17- Write a Python program to find the substrings within a string.
- Sample text : 'Python exercises, PHP exercises, C# exercises'
- Pattern : 'exercises'.

In [55]:
sample_text = 'Python exercises, PHP exercises, C# exercises'
word_to_find = 'exercises'
substrings = re.findall('exercises', sample_text )

print("Word  Matched 'exercises':", substrings)

Word  Matched 'exercises': ['exercises', 'exercises', 'exercises']

#### Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [66]:
sample_text = 'Python exercises, PHP exercises, C# exercises'
words_with_positions = [(m.group(), m.start()) for m in re.finditer("exercises", sample_text)]
print(words_with_positions)

[('exercises', 7), ('exercises', 22), ('exercises', 36)]

#### Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

#### Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
- Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
- Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [12]:
sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern = re.compile(r'\b\d+\.\d{1,2}\b')
decimal_numbers = pattern.findall(sample_text)
decimal_numbers

['01.12', '145.8', '3.01', '27.25', '0.25']

#### Question 21- Write a Python program to separate and print the numbers and their position of a given string

In [67]:

sample_text = "This is a sample string with 123 numbers like 456 and 789."
numbers_with_positions = [(m.group(), m.start()) for m in re.finditer(r'\d', sample_text)]
print(numbers_with_positions)

[('1', 29), ('2', 30), ('3', 31), ('4', 46), ('5', 47), ('6', 48), ('7', 54), ('8', 55), ('9', 56)]

#### Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
- Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
- Expected Output: 950

In [28]:
sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

numeric_values = re.findall(r'\d+', sample_text)

if numeric_values:
    max_value = max(map(int, numeric_values))
    print("Maximum Numeric Value:", max_value)

Maximum Numeric Value: 950

#### Question 23- Create a function in python to insert spaces between words starting with capital letters.
- Sample Text: “RegularExpressionIsAnImportantTopicInPython"
- Expected Output: Regular Expression Is An Important Topic In Python

In [40]:
pattern = re.compile(r'([A-Z][a-z]*)')
space = re.sub(pattern, r' \1', sample_text)

sample_text = "RegularExpressionIsAnImportantTopicInPython"
print("Expected Output:", space)

Expected Output:  Regular Expression Is An Important Topic In Python

#### Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [52]:
pattern = re.compile(r'[A-Z][a-z]+')
sequences = pattern.findall(sample_text)

sample_text = "Regular Expression is An Important Topic in Python"

print("Sequences of One Upper Case Letter Followed by Lower Case Letters:", sequences)

Sequences of One Upper Case Letter Followed by Lower Case Letters: ['Regular', 'Expression', 'An', 'Important', 'Topic', 'Python']

#### Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
- Sample Text: "Hello hello world world"
- Expected Output: Hello hello world

In [58]:
pattern = re.compile(r'\b(\w+)(\s+\1)+\b', re.IGNORECASE)

modified_text = re.sub(pattern, r'\1', sample_text)

sample_text = "Hello hello world world"
print("Modified Text:", modified_text)

Modified Text: Hello world

#### Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [63]:

strings_to_check = ["Hello123", "abc123_", "xyz@", "123", "789a"]
pattern = r'\w$'

for string in strings_to_check:
    if re.search(pattern, string):
        print(f"{string}: Ends with an alphanumeric character")
    else:
        print(f"{string}: Does not end with an alphanumeric character")

Hello123: Ends with an alphanumeric character
abc123_: Ends with an alphanumeric character
xyz@: Does not end with an alphanumeric character
123: Ends with an alphanumeric character
789a: Ends with an alphanumeric character

#### Question 27-Write a python program using RegEx to extract the hashtags.
- Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
- Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [80]:
pattern = re.compile(r'#\w+')
hashtags = pattern.findall(sample_text)
sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
print("Extracted Hashtags:", hashtags)

Extracted Hashtags: ['#Doltiwal', '#xyzabc', '#Demonetization']

#### Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
- Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
- Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [109]:
abc = "@Jags123456 Bharat band on 28??<U+00A0><U+00BD><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"
pattern = re.compile(r'<U\+[0-9A-Fa-f]+>')
abc_text = re.sub(pattern,'', abc)
print("Extracted Hashtags:", abc_text)

Extracted Hashtags: @Jags123456 Bharat band on 28??Those who are protesting #demonetization are all different party leaders

#### Question 29- Write a python program to extract dates from the text stored in the text file.
- Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
- Note- Store this sample text in the file and then extract dates.

In [91]:
with open('sample3.txt', 'r') as file:
    text = file.read()
date_pattern = re.compile(r'\b\d{2}-\d{2}-\d{4}\b')
dates = date_pattern.findall(text)

# Print the extracted dates
print("Extracted Dates:", dates)

Extracted Dates: ['12-09-1992', '15-12-1999']

#### Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
- Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
- Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [103]:
sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern = re.compile(r'\b\w{2,4}\b')
output_text = re.sub(pattern, '', sample_text)
print("Expected Output:", output_text)

Expected Output:  following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.